@import "tailwindcss";

* {
  scrollbar-color: var(--accent) transparent;
}

:root {
  --background: #f8f9fa;
  --primary: #5f53ce;
  --accent: #ff6f61;
  --text-primary: #212529;
  --text-secondary: #6c757d;
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
}
